.section {
    background-color: white;
    margin: 10px 0;
    box-shadow: 0 0 5px #ddd;
}

.section__header {
    border-bottom: 2px solid #ccc;
    font-size: 25px;
    padding: 20px;
    margin: 0;
}
.section__body {
    padding: 20px;
}