html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(240, 235, 235);
    margin: 0;
    display: block;
    box-sizing: inherit;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2;
    font-size: large;
}
.conteiner {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.form_fieldset {
    background-color: white;
    padding: 5px;
    width: 100%;
    margin: 10px;
    border: none;
}
.section_body {
    background-color: white;
    padding: 5px;
    width: 100%;
    margin: 10px;
}

.task_item {
    display: grid;
    grid-gap: 20px;
    border-bottom: 2px solid #ccc;
    list-style-type: none;
    padding: 10px;
    justify-content: space-between;
}

.form_button {
    width:auto;
    border: none;
    background-color: rgb(18, 127, 131);
    color: rgb(255, 255, 255);
    padding: 5px;
}
.form_button:hover {
    background-color: rgb(20, 194, 156);
}

.js-remove {
    height: 30px;
    width: 35px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20%;
}

.header {
    border-bottom: 2px solid #ccc;
}
.js-taskWords {
    border-bottom: 2px solid gray;
    width: 800px;
    padding: 10px;
    border-bottom: 2px solid gray;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.js-task {
display: grid;
}
.js-done {
    height: 30px;
    width: 30px;
    background-color: rgb(6, 116, 11);
    border: none;
    color: white;
    border-radius: 20%;
}
.js-newTask {
    width: 100%;
    max-width: 700px;
   border: 1px solid #000000;
   font-size: larger;

}