html {
    box-sizing: border-box;
}

*,
::after,
::before {
    box-sizing: inherit;
}

.body {
    background-color: rgb(240, 235, 235);
    margin: 0;
    display: block;
    box-sizing: inherit;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 2;
    font-size: large;
}
.conteiner {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}
.form_fieldset {
    background-color: rgb(255, 254, 253);
    padding: 5px;
    width: 100%;
    list-style-type: none;
    
}
.js-tasks {
    list-style-type: none;
   
}
.form__button {
    width:auto;
    border: none;
    background-color: rgb(18, 127, 131);
    color: rgb(255, 255, 255);
    padding: 5px;
}
.js-remove {
    height: 30px;
    width: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 20%;
  
 
}

.js-done {
    height: 30px;
    width: 30px;
    background-color: rgb(6, 116, 11);
    border: none;
    color: white;
    border-radius: 20%;
}
.js-newTask {
    width: 100%;
    max-width: 700px;
}